.mde-header {
  padding: 24px 0px 8px 16px;
  border: none;
}

.mde-header .mde-tabs button.selected {
  border: solid 1px #ebebf8;
  box-shadow: 0px 1px 1px 0px whitesmoke;
  background-color: #ebebf8;
  border-radius: 8px;
}

.mde-textarea-wrapper textarea.mde-text {
  padding-left: 18px;
  font-family: 'Poppins', sans-serif;
}

.mde-header .mde-tabs button {
  color: #66777a;
  font-family: 'Poppins', sans-serif;
}

.mde-header .svg-icon {
  color: #66777a;
}
